{% comment %}
  @param product {Product}
    The product to display
{% endcomment %}

{% assign section_onboarding = false %}
{% if product == blank %}
  {% assign section_onboarding = true %}
{% endif %}

{% assign variant = product.selected_or_first_available_variant %}

{% if section_onboarding %}
  {% assign price = 1999 %}
  {% assign vendor = 'onboarding.featured_product.vendor' | t %}
  {%- capture product_title -%}
    <h2 class="product-title">
      <a href="#">{{ 'onboarding.featured_product.title' | t }}</a>
    </h2>
  {% endcapture %}
{% else %}
  {% assign price = variant.price %}
  {% assign vendor = product.vendor %}
  {%- capture product_title -%}
    <h2 class="product-title">
      <a href="{{ product.url }}">{{ product.title }}</a>
    </h2>
  {% endcapture %}
{% endif %}

<div class="product-details">
  {% if product_title %}
    {{ product_title }}
  {% endif %}

  {% if section.settings.product_show_vendor and vendor != blank%}
    <p class="meta vendor">
      {{ vendor }}
    </p>
  {% endif %}

  <div class="product-price">
    <span class="price">
      <span class="money">{{ price | money }}</span>

      {% unless section_onboarding or product.variants.size == 1 and product.compare_at_price_min <= price %}
        <span class="original money {% if product.compare_at_price_min <= price %}hidden{% endif %}">
          {% if variant.compare_at_price > price %}
            {{ variant.compare_at_price | money }}
          {% endif %}
        </span>
      {% endunless %}
    </span>

    {% capture total_quantity %}<span class="product--total-quantity" data-total-quantity>{{ variant.unit_price_measurement.quantity_value }}{{ variant.unit_price_measurement.quantity_unit }}</span>{% endcapture %}
    {% capture unit_price %}<span class="product--unit-price-amount money" data-unit-price-amount>{{ variant.unit_price | money }}</span>{% endcapture %}
    {% capture unit_measure %}<span class="product--unit-price-measure" data-unit-price-measure>{%- if variant.unit_price_measurement.reference_value != 1 -%}{{ variant.unit_price_measurement.reference_value }}{%- endif %}{{ variant.unit_price_measurement.reference_unit }}</span>{% endcapture %}

    <span
      class="
        unit-price
        {% unless variant.unit_price_measurement %}hidden{% endunless %}
      "
      data-unit-price
    >
      {{ 'products.product.unit_price_html' | t: total_quantity: total_quantity, unit_price: unit_price, unit_measure: unit_measure | strip_newlines }}
    </span>

    {%- capture tax_text -%}
      {{ 'products.product.tax_line_html' | t }}
    {%- endcapture -%}

    {%- if tax_text != blank -%}
      <div class="
          product-details__tax-label
          {% unless variant.taxable %}product-details__tax-label--hidden{% endunless %}
        "
        data-tax-line
      >
        {{ tax_text }}
      </div>
    {%- endif -%}
  </div>
</div>
